@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom text outline (theme aware) */
.text-outline {
  text-shadow:
    -1px -1px 0 #14b8a6,
     1px -1px 0 #14b8a6,
    -1px  1px 0 #14b8a6,
     1px  1px 0 #14b8a6;
}

[data-theme="dark"] .text-outline {
  text-shadow:
    -1px -1px 0 #f59e0b,
     1px -1px 0 #f59e0b,
    -1px  1px 0 #f59e0b,
     1px  1px 0 #f59e0b;
}

/* Fonts */
@font-face {
  font-family: "burtons";
  src: url(../public/Burtons.otf);
}

@font-face {
  font-family: "pleasure";
  src: url(/Pleasure.ttf) format("truetype");
  font-display: swap;
}

/* Smooth darkmode transition */
/* * {
  @apply transition-colors duration-200;
} */
