@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "burtons";
  src: url(../public/Burtons.otf);
}

@font-face {
  font-family: "pleasure";
  src: url(/Pleasure.ttf) format("truetype");
  font-display: swap;
}

/* Smooth darkmode transition */
/* * {
  @apply transition-colors duration-200;
} */
